{% extends 'base.html' %}

{% block title %} All Videos | {% endblock %}

<script>
    {% block jquery %}
        // Do this once before resizing
        var parent_id = $('iframe').parent().attr('id');
        if (parent_id === 'youtubeVideo') {
            $('iframe').addClass('embed-responsive-item');
            var parent_class = $('iframe').parent().attr('class');
            var parent_width = $('iframe').parent().width();
            console.log(parent_class);
            var width = $('iframe').css('width');
            var height = $('iframe').css('height');
            var ratio = parseInt(height) / parseInt(width);
            var new_height = parseInt(parent_width) * ratio;
            $('iframe').css('width', parent_width);
            $('iframe').css('height', new_height);
        }
            function update_iframe_size() {
                var parent_id = $('iframe').parent().attr('id');
                if (parent_id === 'youtubeVideo') {
                    $('iframe').addClass('embed-responsive-item');
                    var parent_class = $('iframe').parent().attr('class');
                    var parent_width = $('iframe').parent().width();
                    console.log(parent_class);
                    var width = $('iframe').css('width');
                    var height = $('iframe').css('height');
                    var ratio = parseInt(height) / parseInt(width);
                    var new_height = parseInt(parent_width) * ratio;
                    $('iframe').css('width', parent_width);
                    $('iframe').css('height', new_height);
                }
            }

            $(window).bind('resize', function () {
                // $('$('iframe')').width('80%');
                update_iframe_size();
            });
    {% endblock %}
</script>

{% block content %}
    {% for video in queryset %}
        <div class="container">
            <div id="youtubeVideo" class="col-sm-12">
                <p><a href="{{ video.get_absolute_url }}">{{ forloop.counter }}. {{ video }}</a></p>
                {{ video.embed_code|safe }}
            </div>
        </div>
    {% endfor %}

    {% for comment in comments %}
        <div class="container">
            <div class="well col-sm-12">
                <p style="font-size: 1.3em;"> {{ comment.text }} </p>
                <p style="font-size: 0.9em;">
                    by {{ comment.user.username }} on {{ comment.timestamp }}
                </p>
            </div>
        </div>

    {% endfor %}


{% endblock %}
