{% extends 'base.html' %}

{% block title %} Video | {% endblock %}

<script>
    {% block jquery %}
        // Do this once before resizing
        var parent_id = $('iframe').parent().attr('id');
        if (parent_id === 'youtubeVideo') {
            $('iframe').addClass('embed-responsive-item');
            var parent_class = $('iframe').parent().attr('class');
            var parent_width = $('iframe').parent().width();
            console.log(parent_class);
            var width = $('iframe').css('width');
            var height = $('iframe').css('height');
            var ratio = parseInt(height) / parseInt(width);
            var new_height = parseInt(parent_width) * ratio;
            $('iframe').css('width', parent_width);
            $('iframe').css('height', new_height);
        }
        function update_iframe_size() {
            var parent_id = $('iframe').parent().attr('id');
            if (parent_id === 'youtubeVideo') {
                $('iframe').addClass('embed-responsive-item');
                var parent_class = $('iframe').parent().attr('class');
                var parent_width = $('iframe').parent().width();
                console.log(parent_class);
                var width = $('iframe').css('width');
                var height = $('iframe').css('height');
                var ratio = parseInt(height) / parseInt(width);
                var new_height = parseInt(parent_width) * ratio;
                $('iframe').css('width', parent_width);
                $('iframe').css('height', new_height);
            }
        }

        $(window).bind('resize', function () {
            // $('$('iframe')').width('80%');
            update_iframe_size();
        });
    {% endblock %}
</script>

{% block content %}
    <div class="well">
        <h1>{{ object.title }}</h1>
    </div>
    <!-- 16:9 aspect ratio -->
    <div id="youtubeVideo">
        {{ object.embed_code|safe }}
    </div>

    <div class="well">
        <div class="container">
            <p class="col-sm-8 col-sm-offset-9">
                <a href="https://twitter.com/home?status={{ object.get_share_message|safe }}">
                    <i class="fa fa-twitter-square fa-3x"></i>
                </a>

                <a href="https://facebook.com/sharer/sharer.php?u={{ object.get_share_link|safe }}">
                    <i class="fa fa-facebook-square fa-3x"></i>
                </a>

                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ object.get_share_link|safe }}/&title={{ object.get_share_message|safe }}&summary={{ object.get_share_message|safe }}&source={{ object.get_share_link|safe }}/">
                    <i class="fa fa-linkedin-square fa-3x"></i>
                </a>
            </p>
        </div>
    </div>

{% endblock %}
