{% load tz %}
{% load l10n %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'meta.html' %}

    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}ChessTastic Project</title>

    {% include 'bootstrap_css.html' %}
    {% include 'font_awesome_css.html' %}

    <!-- Custom styles for this template -->
    <style media="screen">
        body {
            min-height: 2000px;
            padding-top: 70px;
        }

        {% block style %}
        {% endblock %}
    </style>


</head>

<body>
{% include 'navbar.html' %}

<div class="container">
    {% block content %}

    {% endblock %}
</div>

{% include 'javascript.html' %}

<script>
    $(document).ready(function(){
        // alert('jquery working');
        {% block jquery %}

        {% endblock %}
    })
</script>

</body>

</html>
