{% extends 'base.html' %}

{% block title %} Home | {% endblock %}

<style>
    {% block style %}
        h1 {
            color: red;
        }
    {% endblock %}
</style>

{% block content %}

    <h2>Total Videos: {{ number }}</h2>
    {% for video in videos %}
        <p>
            {#            <a href="{% url 'video_detail' id=video.id %}">{{ forloop.counter }}. {{ video }}</a> <br>#}
            <a href="{{ video.get_absolute_url }}">{{ forloop.counter }}. {{ video }}</a> <br>
            {{ video.embed_code|safe }}
        </p>
    {% endfor %}

    {#    <h2>Embeds:</h2>#}
    {#    {% for embed in embeds %}#}
    {#        {{ embed }}#}
    {#    {% endfor %}#}

{% endblock %}
